WIKI_API_VERSION=v1
WIKI_BINDING_HOST=0.0.0.0
WIKI_BINDING_PORT=8080
WIKI_LOG_LEVEL=debug
WIKI_API_NAME=/api/v1/wiki
WIKI_DB_CONNEXION=postgresql://postgres:diane1234@localhost:5432/wiki-db
WIKI_DB_MIN_CON=10
WIKI_DB_MAX_CON=10
WIKI_KEYCLOAK_URL=wiki
WIKI_KEYCLOAK_ISSUER=wiki
WIKI_KEYCLOAK_CLIENT_ID=wiki
WIKI_KEYCLOAK_CLIENT_SECRET=wiki
WIKI_S3_ACCESS_KEY=minioadmin
WIKI_S3_SECRET_KEY=minioadmin
WIKI_S3_REGION=us-east-1
WIKI_S3_BUCKET_NAME=wiki-medias
WIKI_S3_URL=http://localhost:9000
AWS_BLOB_SAS_TTL_IN_SECS=86400