WIKI_API_VERSION=v1
WIKI_BINDING_HOST=0.0.0.0
WIKI_BINDING_PORT=8080
WIKI_LOG_LEVEL=debug
WIKI_API_NAME=/api/v1/wiki
WIKI_DB_CONNEXION=postgresql://postgres:postgres@localhost:5432/wiki
WIKI_DB_MIN_CON=10
WIKI_DB_MAX_CON=10