# Environnement
.env
.venv/
venv/
*-env/
.wiki-env/
wiki-env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Outils
.ruff_cache/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# IDE / OS
.idea/
.vscode/
.DS_Store
